@import "../app/mixins";

.item {
  width: 33%;
  margin-bottom: 39px;

  @include mq(md) {
    width: 50%;
  }

  @include mq(s) {
    width: 100%;
  }

  figure {
    box-sizing: border-box;
    width: 100%;
    max-width: 352px;
    padding: 32px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 24px;
    position: relative;

    @include mq(lg) {
      width: 95%;
    }

    @include mq(s) {
      width: 100%;
      max-width: 80%;
    }

    @include mq(xs) {
      max-width: 100%;
    }

    button {
      width: 64px;
      color: #4BCFA0;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: transparent;
      position: absolute;
      bottom: 32px;
      right: 32px;

      @include mq(xs) {
        position: static;
        margin: 15px auto 0;
        width: 80%;
        max-width: 300px;
      }

      &:hover {
        background: #4BCFA0;
        color: #fff;
        border: 1px solid #4BCFA0;
      }
    }
  }
}